.blogmusik {
    font-weight: 600;
    font-style: normal;
    color: #261d40;
    align-items: left;
}

.download {
    font-weight: 600;
    font-style: normal;
    text-align: center;
    border-radius: 4px;
    border: solid 2px #432b87;
    width: 100%;
}

.Display-4{
    color:#261d40 ;    
}

@media (min-width: 992px) { 
    .nav-link{
        text-transform: uppercase;
    }
 }

.nav-link {
    text-transform: uppercase;
    margin-right: 42px;
}

@media screen and (max-width: 576px){
    .hero{
        opacity: 0.9;
    }
}

.far{
    font-size: 18px;
}

.play1 {
    color: white;
    background-color: #73c700;
    font-size: 16px;
    padding-right: 18px;
}


@media screen and (max-width: 1367px){
    .content1{
        padding: 40px;
    }


    .transition{
        transition: margin-right 1s;
    }
}

@media screen and (min-width: 992px){

    .menu:hover .transition {
        margin-right: 100px;
    }
}

.tr

.content1 {
    padding-bottom: 30px;
    justify-content: center;
}

.about {
    padding-bottom: 5rem;
    padding-top: 16rem;
}


.abpro{
    color: #261d40;
}
.imgabout {
    position: relative;
}

.serpro {
    padding: 20px;
}

.service {
    padding-top: 10rem;
    padding-bottom: 7rem;
    text-align: center;
}

.color-ser{
    color: #261d40;
}

.product {
    position: relative;
}


.hr {
    height: 2px;
    width: 45px;
    background-color: #757575;
}

.testimoni {
    padding-top: 6.5rem;
    padding-bottom: 6.5rem;
    background: rgba(252, 252, 252, 0.973);
}

.opacity{
    opacity: 0.3;
}

.box {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 19px;
}

.swiper-container {
    max-width: 100%;
    height: 80%;
    padding-top: 80%;
    padding-bottom: 80%;
}

.swiper-slide {
    text-align: center;
    font-size: 16px;
}

.font{
    font-size: 16.1px;
}

p {
    font-weight: normal;
}

.dono {
    margin-right: 1rem;
}

.CEO {
    margin-right: 2rem;
}

.people {
    background-color: #432b87;
    border-radius: 50px;
    color:white;
    margin-top: 50px;
    position: absolute;
}

.card {
    box-shadow: 0px 10px 30px 0 rgba(61, 40, 119, 0.1);
   margin-top: 5px;
   margin-bottom: 5px;
}

.articel-card {
    padding-left: 15px;
    padding-right: 35px;
    color: #261d40;
}

a {
    text-decoration: none;
}

.new {
    padding-top: 7rem;
    padding-bottom: 3rem;
}

.hr1 {
    width: 45px;
    height: 3px;
    background-color: #ff7800;
    margin-top: 2rem;
}

.read {
    color: #432b87;
    font-weight: bold;
    float: right;
}

.p {
    color: white;
    font-weight: 600;
}

.button1 {
    height: 50px;
    border-radius: 4px;
    background-color: #432b87;
    margin-left: 2rem;
}

.app {
    padding-right: 20px;
    min-height: 245px;
    background-color: #fafafa;
}

.download-app{
    padding-top: 80px;
    padding-bottom: 50px;
}

.cta {
    color: #261d40;
    font-weight: normal;
    font-size: 40px;
}

.cta-teks{
    font-size: 18px;
}

@media screen and (min-width:770px){
    .button2{
        padding-top: 75px;
        font-size: 20px;
    }
}

.button2 {
    padding-bottom: 55px;
}

.button3 {
    background-color: #73c700;
    color: white;
    font-weight: 500;
    padding-right: 18px;
}

.footer {
    padding: 100px 0;
}

